<nav>
    <div class="nav nav-tabs" id="orders-tab" role="tablist">
        <a class="nav-link active" id="orders-wait" data-toggle="tab" href="#orders-wait-href" role="tab" aria-controls="nav-home" aria-selected="true">Ожидают оплату</a>
        <a class="nav-link" id="orders-paid" data-toggle="tab" href="#orders-paid-href" role="tab" aria-controls="nav-profile" aria-selected="false">Оплаченные</a>
    </div>
</nav>
<div class="tab-content" id="orders-content">
    <div class="tab-pane fade show active" id="orders-wait-href" role="tabpanel" aria-labelledby="orders-wait-href">

    </div>
    <div class="tab-pane fade" id="orders-paid-href" role="tabpanel" aria-labelledby="orders-paid-href">

    </div>
</div>