{% extends 'base_template/base_template.html' %}
{% load i18n %}
{% block content %}
    {% if not request.user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <h4 class="display-6">{% trans "Логин" %} ({% trans "для входа" %}):</h4>
                {{ form.username.errors }}
                {{ form.username }}
            </div>

            <div class="form-group">
                <h4 class="display-6">{% trans "Пароль" %} (<a href="javascript:generateRandomPassword()">{% trans "сгенерировать пароль" %}</a>)<span
                        id="randompassword"></span>:</h4>
                {{ form.password1.errors }}
                {{ form.password1 }}
            </div>

            <div class="form-group">
                <h4 class="display-6">{% trans "Повторите пароль" %}:</h4>
                {{ form.password2.errors }}
                {{ form.password2 }}
            </div>

            <div class="form-group">
                <h4 class="display-6">{% trans "Ваше имя" %}:</h4>
                {{ form.first_name.errors }}
                {{ form.first_name }}
            </div>

            <div class="form-group">
                <h4 class="display-6">{% trans "Ваша фамилия" %}:</h4>
                {{ form.last_name.errors }}
                {{ form.last_name }}
            </div>

            <div class="form-group">
                <h4 class="display-6">{% trans "Дата рождения" %}:</h4>
                {{ form.birthday.errors }}
                {{ form.birthday }}
            </div>

            <div class="form-group">
                <h4 class="display-6">{% trans "Город проживания" %}:</h4>
                {{ form.city.errors }}
                {{ form.city }}
            </div>

            <div class="form-group">
                <h4 class="display-6">{% trans "Телефон" %}:</h4>
                {{ form.phone.errors }}
                {{ form.phone }}
            </div>

            <div class="form-group">
                <h4 class="display-6">{% trans "Капча. Решите пример" %}: {{ num1 }} + {{ num2 }} = ?</h4>
                {{ form.captcha.errors }}
                {{ form.captcha }}
            </div>

            <input class="btn btn-lg btn-primary col" type="submit" name="sub" value="{% trans "Регистрация" %}">
        </form>

        <script>


        function generateRandomPassword()
        {
            let randomstring = generatePassword(12);
            console.log(randomstring)
            $("#id_password1").val(randomstring)
            $("#id_password2").val(randomstring)
            $("#randompassword").html(' -> ' + randomstring)
        }

        const generatePassword = (
            length = 20,
            wishlist = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz~!@-#$'
        ) => Array.from(crypto.getRandomValues(new Uint32Array(length)))
                .map((x) => wishlist[x % wishlist.length])
                .join('')

    </script>
    {% else %}
        {% trans "Вы уже зарегистрированы" as message_system_reg_yet %}
        {% include 'utls_template/alert.html' with bt_theme="warning" bt_text=message_system_reg_yet %}
    {% endif %}

{% endblock %}